<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scrape new data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Find a phone!</a></p>
    </div>


    <div class="row">
      <div class="col-md-12">
        <h3 class="heading"><strong>Latest Mars News</strong></h3>
            <p><h4><strong>{{ mars.latest_title }}</strong></h4></p>
            <p>{{ mars.latest_title_para }}</p>
      </div>
      <div class="col-md-6">
        <h2 class="heading">Featured Mars Image</h2>
        <img src="{{ mars.featured_image_url }}" style="width: 500px; height: 300px;">
      </div>
        <div class="col-md-6">
            <h2>Mars Facts</h2>
            <table border="2" class="dataframe">
                <thead>
                  <tr style="text-align: right;">
                    <th></th>
                    <th>Mars</th>
                    <th>Earth</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Mars - Earth Comparison</th>
                    <td>Mars</td>
                    <td>Earth</td>
                  </tr>
                  <tr>
                    <th>Diameter</th>
                    <td>6,779 km</td>
                    <td>12,742 km</td>
                  </tr>
                  <tr>
                    <th>Mass</th>
                    <td>6.39 × 10^23 kg</td>
                    <td>5.97 × 10^24 kg</td>
                  </tr>
                  <tr>
                    <th>Moons</th>
                    <td>2</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <th>Distance from Sun</th>
                    <td>227,943,824 km</td>
                    <td>149,598,262 km</td>
                  </tr>
                  <tr>
                    <th>Length of Year</th>
                    <td>687 Earth days</td>
                    <td>365.24 days</td>
                  </tr>
                  <tr>
                    <th>Temperature</th>
                    <td>-87 to -5 °C</td>
                    <td>-88 to 58°C</td>
                  </tr>
                </tbody>
              </table>
    
        </div>
    </div>
    </div>

  </div>
    <!-- Mars Hemispheres -->
<div class="container">
    <div class="row">
      <h1 class="text-center"><strong>Mars Hemispheres</strong></h1>
      <br>
    {% for info in mars.titles_urls %}
    <div class="col-md-3">
        <img src="{{ info.img_url }}" style="width:100%">
                <h2>{{ info.title }}</h2>
    </div>
    {% endfor %}
    </div>
    </div>
</body>

</html>
