<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scrape new data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape new data</a></p>
    </div>


    <div class="row">
      <div class="col-md-12">
        <h3 class="heading"><strong>Latest Mars News</strong></h3>
            <p><h4><strong>{{ mars.latest_title }}</strong></h4></p>
            <p>{{ mars.latest_title_para }}</p>
      </div>
      <div class="col-md-6">
        <h2 class="heading">Featured Mars Image</h2>
        <img src="{{ mars.featured_image_url }}" style="width: 500px; height: 300px;">
      </div>
        <div class="col-md-6">
            <h2>Mars Facts</h2>
            {{ mars.mars_table | safe }}
        </div>
    </div>
    </div>

  </div>
    <!-- Mars Hemispheres -->
<div class="container">
    <div class="row">
      <h1 class="text-center"><strong>Mars Hemispheres</strong></h1>
      <br>
    {% for info in mars.titles_urls %}
    <div class="col-md-3">
        <img src="{{ info.img_url }}" style="width:100%">
                <h2>{{ info.title }}</h2>
    </div>
    {% endfor %}
    </div>
    </div>
</body>

</html>
